---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/pagespeedonline/v2/runPagespeed?key=AIzaSyCBds3tXDhQDSik02PVa3Y8-MBw47Z0uMs&prettyprint=false&strategy=&url=http://tamars.co.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"errors":[{"domain":"global","reason":"invalidParameter","message":"Invalid
        string value: ''''. Allowed values: [desktop, mobile]","locationType":"parameter","location":"strategy"}],"code":400,"message":"Invalid
        string value: ''''. Allowed values: [desktop, mobile]"}}'
  recorded_at: Tue, 13 Oct 2015 13:16:05 GMT
recorded_with: VCR 2.9.3
