---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/pagespeedonline/v2/runPagespeed?key=AIzaSyCBds3tXDhQDSik02PVa3Y8-MBw47Z0uMs&prettyprint=false&strategy=mobile&url=http://www.assfdfdfsf.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"errors":[{"domain":"pagespeedInsights","reason":"mainResourceRequestFailed","message":"DNS
        error while resolving www.assfdfdfsf.com. Check the spelling of the host,
        and ensure that the page is accessible from the public Internet."}],"code":400,"message":"DNS
        error while resolving www.assfdfdfsf.com. Check the spelling of the host,
        and ensure that the page is accessible from the public Internet."}}'
  recorded_at: Tue, 13 Oct 2015 13:13:53 GMT
recorded_with: VCR 2.9.3
