---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/pagespeedonline/v2/runPagespeed?key=AIzaSyCBds3tXDhQDSik02PVa3Y8-MBw47Z0uMs&prettyprint=false&strategy=mobile&url=http://tamars.co.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"w_LpEypgYV3U0EwZV3kjSMfMolg/-VL3Kr8BkcqjTmdCKoRp333Vwkc"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: '{"kind":"pagespeedonline#result","id":"http://www.tamars.co.uk/","responseCode":200,"title":"21st
        Century Back Care - TAMARS Treatment","ruleGroups":{"SPEED":{"score":68},"USABILITY":{"score":100}},"pageStats":{"numberResources":77,"numberHosts":13,"totalRequestBytes":"8860","numberStaticResources":62,"htmlResponseBytes":"46318","cssResponseBytes":"726399","imageResponseBytes":"197115","javascriptResponseBytes":"1754799","otherResponseBytes":"434940","numberJsResources":32,"numberCssResources":19},"formattedResults":{"locale":"en_US","ruleResults":{"AvoidInterstitials":{"localizedRuleName":"Avoid
        app install interstitials that hide content","ruleImpact":0.0,"groups":["USABILITY"],"summary":{"format":"Your
        page does not appear to have any app install interstitials that hide a significant
        amount of content. Learn more about the importance of {{BEGIN_LINK}}avoiding
        the use of app install interstitials{{END_LINK}}.","args":[{"type":"HYPERLINK","key":"LINK","value":"https://developers.google.com/webmasters/mobile-sites/mobile-seo/common-mistakes/avoid-interstitials"}]}},"AvoidLandingPageRedirects":{"localizedRuleName":"Avoid
        landing page redirects","ruleImpact":0.0,"groups":["SPEED"],"summary":{"format":"Your
        page has no redirects. Learn more about {{BEGIN_LINK}}avoiding landing page
        redirects{{END_LINK}}.","args":[{"type":"HYPERLINK","key":"LINK","value":"https://developers.google.com/speed/docs/insights/AvoidRedirects"}]}},"AvoidPlugins":{"localizedRuleName":"Avoid
        plugins","ruleImpact":0.0,"groups":["USABILITY"],"summary":{"format":"Your
        page does not appear to use plugins, which would prevent content from being
        usable on many platforms. Learn more about the importance of {{BEGIN_LINK}}avoiding
        plugins{{END_LINK}}.","args":[{"type":"HYPERLINK","key":"LINK","value":"https://developers.google.com/speed/docs/insights/AvoidPlugins"}]}},"ConfigureViewport":{"localizedRuleName":"Configure
        the viewport","ruleImpact":0.0,"groups":["USABILITY"],"summary":{"format":"Your
        page specifies a viewport matching the device''s size, which allows it to
        render properly on all devices. Learn more about {{BEGIN_LINK}}configuring
        viewports{{END_LINK}}.","args":[{"type":"HYPERLINK","key":"LINK","value":"https://developers.google.com/speed/docs/insights/ConfigureViewport"}]}},"EnableGzipCompression":{"localizedRuleName":"Enable
        compression","ruleImpact":0.0,"groups":["SPEED"],"summary":{"format":"You
        have compression enabled. Learn more about {{BEGIN_LINK}}enabling compression{{END_LINK}}.","args":[{"type":"HYPERLINK","key":"LINK","value":"https://developers.google.com/speed/docs/insights/EnableCompression"}]}},"LeverageBrowserCaching":{"localizedRuleName":"Leverage
        browser caching","ruleImpact":2.2354910714285716,"groups":["SPEED"],"summary":{"format":"Setting
        an expiry date or a maximum age in the HTTP headers for static resources instructs
        the browser to load previously downloaded resources from local disk rather
        than over the network."},"urlBlocks":[{"header":{"format":"{{BEGIN_LINK}}Leverage
        browser caching{{END_LINK}} for the following cacheable resources:","args":[{"type":"HYPERLINK","key":"LINK","value":"https://developers.google.com/speed/docs/insights/LeverageBrowserCaching"}]},"urls":[{"result":{"format":"{{URL}}
        ({{LIFETIME}})","args":[{"type":"URL","key":"URL","value":"https://static.doubleclick.net/instream/ad_status.js"},{"type":"DURATION","key":"LIFETIME","value":"15
        minutes"}]}},{"result":{"format":"{{URL}} ({{LIFETIME}})","args":[{"type":"URL","key":"URL","value":"http://dnn506yrbagrg.cloudfront.net/pages/scripts/0012/8531.js"},{"type":"DURATION","key":"LIFETIME","value":"60
        minutes"}]}},{"result":{"format":"{{URL}} ({{LIFETIME}})","args":[{"type":"URL","key":"URL","value":"http://www.google-analytics.com/ga.js"},{"type":"DURATION","key":"LIFETIME","value":"2
        hours"}]}}]}]},"MainResourceServerResponseTime":{"localizedRuleName":"Reduce
        server response time","ruleImpact":20.22,"groups":["SPEED"],"urlBlocks":[{"header":{"format":"In
        our test, your server responded in {{RESPONSE_TIME}}. There are many factors
        that can slow down your server response time. {{BEGIN_LINK}}Please read our
        recommendations{{END_LINK}} to learn how you can monitor and measure where
        your server is spending the most time.","args":[{"type":"DURATION","key":"RESPONSE_TIME","value":"1.5
        seconds"},{"type":"HYPERLINK","key":"LINK","value":"https://developers.google.com/speed/docs/insights/Server"}]}}]},"MinifyCss":{"localizedRuleName":"Minify
        CSS","ruleImpact":0.0,"groups":["SPEED"],"summary":{"format":"Your CSS is
        minified. Learn more about {{BEGIN_LINK}}minifying CSS{{END_LINK}}.","args":[{"type":"HYPERLINK","key":"LINK","value":"https://developers.google.com/speed/docs/insights/MinifyResources"}]}},"MinifyHTML":{"localizedRuleName":"Minify
        HTML","ruleImpact":0.0,"groups":["SPEED"],"summary":{"format":"Your HTML is
        minified. Learn more about {{BEGIN_LINK}}minifying HTML{{END_LINK}}.","args":[{"type":"HYPERLINK","key":"LINK","value":"https://developers.google.com/speed/docs/insights/MinifyResources"}]}},"MinifyJavaScript":{"localizedRuleName":"Minify
        JavaScript","ruleImpact":0.5492,"groups":["SPEED"],"summary":{"format":"Compacting
        JavaScript code can save many bytes of data and speed up downloading, parsing,
        and execution time."},"urlBlocks":[{"header":{"format":"{{BEGIN_LINK}}Minify
        JavaScript{{END_LINK}} for the following resources to reduce their size by
        {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction).","args":[{"type":"HYPERLINK","key":"LINK","value":"https://developers.google.com/speed/docs/insights/MinifyResources"},{"type":"BYTES","key":"SIZE_IN_BYTES","value":"3.5KiB"},{"type":"PERCENTAGE","key":"PERCENTAGE","value":"1%"}]},"urls":[{"result":{"format":"Minifying
        {{URL}} could save {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction) after compression.","args":[{"type":"URL","key":"URL","value":"https://s.ytimg.com/yts/jsbin/html5player-new-en_GB-vflmdFuIW/html5player-new.js"},{"type":"BYTES","key":"SIZE_IN_BYTES","value":"2.5KiB"},{"type":"PERCENTAGE","key":"PERCENTAGE","value":"1%"}]}},{"result":{"format":"Minifying
        {{URL}} could save {{SIZE_IN_BYTES}} ({{PERCENTAGE}} reduction) after compression.","args":[{"type":"URL","key":"URL","value":"http://www.tamars.co.uk/wp/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.plugins.min.js?ver=4.0.1"},{"type":"BYTES","key":"SIZE_IN_BYTES","value":"998B"},{"type":"PERCENTAGE","key":"PERCENTAGE","value":"17%"}]}}]}]},"MinimizeRenderBlockingResources":{"localizedRuleName":"Eliminate
        render-blocking JavaScript and CSS in above-the-fold content","ruleImpact":24.0,"groups":["SPEED"],"summary":{"format":"Your
        page has {{NUM_SCRIPTS}} blocking script resources and {{NUM_CSS}} blocking
        CSS resources. This causes a delay in rendering your page.","args":[{"type":"INT_LITERAL","key":"NUM_SCRIPTS","value":"5"},{"type":"INT_LITERAL","key":"NUM_CSS","value":"17"}]},"urlBlocks":[{"header":{"format":"None
        of the above-the-fo[...]
- request:
    method: get
    uri: https://www.googleapis.com/pagespeedonline/v2/runPagespeed?key=AIzaSyCBds3tXDhQDSik02PVa3Y8-MBw47Z0uMs&prettyprint=false&strategy=desktop&url=http://tamars.co.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"w_LpEypgYV3U0EwZV3kjSMfMolg/K5ygNHqxkbweB-tm_77M5VbdKiM"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
[...]
